/* table of links to other web pages */
#links
{
	font-family: "Helvetica Neue";
	font-weight: 200;
	font-size: 120%;
	border-spacing: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* for hyperlinks */
a:link {color: #a51c30; text-decoration: none;}
a:visited {color: #a51c30;}
a:hover {color: #FF8080;}

/* names */
#names
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: "Helvetica";
	font-weight: 200;
	color: #FFFFFF;
	padding-top: 550px;
}

/* file body */
body
{
	background-color: #000000;
	background-image: url("../img/poker.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}